/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  list-style: none;
  padding:0;
}

/* Custom stuff below */

html {
}

body {
  background: #000;
  color:  #fff;
  font-family: Arial, Helvetica, sans-serif;
}

div#wrap {
  height:  100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px;
}

div#wrap::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the image */
  filter: brightness(0.5);
}

div#wrap.negative-1::before { background-image: url(img/negative/jimmy-fallon.gif)}
div#wrap.negative-2::before { background-image: url(img/negative/person-yellow.gif)}
div#wrap.negative-3::before { background-image: url(img/negative/red-bull.gif)}
div#wrap.negative-4::before { background-image: url(img/negative/seth-meyers.gif)}
div#wrap.neutral-1::before { background-image: url(img/neutral/adele.gif)}
div#wrap.neutral-2::before { background-image: url(img/neutral/bill-murray.gif)}
div#wrap.neutral-3::before { background-image: url(img/neutral/steve-harvey.gif)}
div#wrap.neutral-4::before { background-image: url(img/neutral/woman.gif)}
div#wrap.positive-1::before { background-image: url(img/positive/artj92V8o75VPL7AeQ.gif)}
div#wrap.positive-2::before { background-image: url(img/positive/homer.gif)}
div#wrap.positive-3::before { background-image: url(img/positive/jim-office.gif)}
div#wrap.positive-4::before { background-image: url(img/positive/minions.gif)}

input#phrase {
  background: rgba(0,0,0,0);
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 36px;
  width: 80%;
  color: #fff;
}

input#phrase:focus {
  outline: none;
}

button {
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  width: 120px;
  margin-top: 15px;
}

pre {
  background: rgba(0,0,0,0.5);
  height: 135px;
  width: 550px;
  padding: 15px;
}

ul {
  background: rgba(0,0,0,0.5);
  width: 550px;
  padding: 15px;
}

#wrap * {
  z-index: 1;
}

h2#result-title {
  margin-top: 15px;
}

li.negative::before {
  content: "👎";
  margin-right: 10px;
}

li.positive::before {
  content: "👍";
  margin-right: 10px;
}

li.neutral::before {
  content: "😐";
  margin-right: 10px;
}

li.negative {
  color: red;
}

li.positive {
  color: yellow;
}

li.neutral {
  color: gray;
}
